<h1 class="text-center"><%= email.object %></h1><hr><br>
<p class="text-center"><%= email.body %></p><hr><br>
<div class="row">
  <div class="col">
    <button class="btn btn-primary"><%= link_to "Supprimer", email_path(email.id), method: :delete, remote: true %></button>
  </div>
  <div class="col">
    <button class="btn btn-primary">Marquer comme non-lu</button>
  </div>
</div>